@use 'functions' as fn;
@use 'variables' as var;
$espaciado: var.getTypography("line-height");

%texto {
  letter-spacing: normal;
  line-height: #{$espaciado};
  overflow-wrap: break-word;
}
%boton {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: (fn.pxTorem(5px) fn.pxTorem(22px));
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}
